.profile-left {
  width: 25%;
  float: left;
  position: relative;
  left: 20%;
  height: 100%;
}

.profile-right {
  width: 45%;
  float: right;
  position: relative;
  left: -5%;
  height: 100%;
}

.name {
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile {
  border-radius: 50%;
  object-fit: cover;
}

.name > h2 {
  padding-top: 10px;
  color: #545454;
}

.name > p {
  padding-top: 15px;
  font-size: 22px;
  color: #9a9a9a;
}

.name > p > span {
  font-size: 22px;
  color: #545454;
  font-weight: bold;
}

.vl {
  border-left: 1px solid #cccccc;
  height: 90vh;
  position: absolute;
  left: 47%;
  margin-left: 10px;
  top: 15%;
}

.company {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.company > h2 {
  color: #9a9a9a;
  font-weight: normal;
}

.company > p {
  padding-top: 10px;
  font-size: 22px;
  color: #9a9a9a;
}

.company > p > span {
  font-size: 22px;
  color: #545454;
  font-weight: bold;
  text-align: center;
}

.location {
  margin: 2rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}

.location > h2 {
  color: #9a9a9a;
  font-weight: normal;
}

.location > p {
  padding-top: 1rem;
  padding-left: 1rem;
  color: #9a9a9a;
  font-size: 24px;
}

.location > p > span {
  color: #545454;
  font-size: 22px;
  font-weight: bold;
}

.direction {
  display: flex;
  justify-content: space-between;
  margin-left: 50%;
  margin-bottom: 10px;
}
.direction > p {
  font-size: 18px;
  color: #9a9a9a;
}

.direction > p > span {
  font-size: 18px;
  color: #545454;
  font-weight: bold;
}

.chat {
  margin-left: 50%;
}
