.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.user-card {
  position: absolute;
  border-bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
